.idea
sftp-config.json
*.sublime-project
*.sublime-workspace
/node_modules/*
!/node_modules/bootstrap
!/node_modules/font-awesome
!/node_modules/jquery
/node_modules/jquery/*
!/node_modules/jquery/dist
!/node_modules/popper.js
/node_modules/popper.js/*
!/node_modules/popper.js/dist
/engine/conf/*
/engine/state/*